html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 1%;
}
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; 
    border-radius: 50px;*/
    border: none;
}
::-webkit-scrollbar-thumb {
    /*background: linear-gradient(to bottom, #763ad9, #4f70e0);*/
    border-radius: 50px;
    border: none;

    transition: background-image .5s ease-in-out;
    background-image: linear-gradient(to bottom, #6253e1, #852D91, #e85a19, #f5ce62);
    /*background-size: 300% 100%;*/
}
::-webkit-scrollbar-thumb:hover {
    /*background-position: 100% 0;*/
}

.progress-container, .progress-bar {
    margin: 0;
    padding: 0;
}
.progress-bar {
    position: fixed;
    height: 3px;
    bottom: 0;
    background: linear-gradient(to right, #6253e1, #852D91, #e85a19, #f5ce62);
    direction: rtl;
}

.hr {
    height: 2px;
    background: linear-gradient(to right, #6253e1, #852D91, #e85a19, #f5ce62);
}
.hr2{
    height: 2px;
    background: linear-gradient(to left, #6253e1, #852D91, #e85a19, #f5ce62);
}

.container{
    min-height: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*border: 5px solid tomato;*/
    background-size: cover;
    overflow-wrap: break-word;
}

.sub-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.header{
    background: url(images/header-bg.png);
}
#name{
    font-size: 3rem;
    background: linear-gradient(to right, #763ad9, #4f70e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.normalHeading{
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 0;
}
.description{
    font-size: 110%;
    line-height: 160%;
    color: #898989;
}
.btn{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    width: 160px;
    padding: 1rem 1rem;
    border-radius: 50px;
    border: none;

    transition: all .5s ease-in-out;
    background-size: 300% 100%;
}
.btn:hover{
    background-position: 100% 0;
}
.pi{
    width: 80%;
}
.btn-1{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.dream{
    background-image: url(images/dream-bg.png), url(images/biography-bg.png);
    background-position: right center, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
}
.bigHeading{
    font-size: 2.5rem;
    font-weight: bolder;
}
.imagePart2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-2{
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.experiences{
    background-image: url(images/exp-bg.png), url(images/latest-work-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position: left center, left top;
    padding: 0 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experiences .sub-container{
    width: 100%;
}
.exp-heading{
    text-align: center;
}
.exp-boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.exp-box{
    width: 30%;
    padding: 3% 3%;
    margin: 0 3%;
    border-width: 0 0 0 6px;
    border-style: solid;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
}
.exp-box.box1{
    border-image: linear-gradient(to bottom, purple, deepskyblue) 1 100%;
}
.exp-box.box2{
    border-image: linear-gradient(to bottom, orangered, yellow) 1 100%;
}
.subHeading{
    font-size: 125%;
    font-style: italic;
    font-weight: 100;
    color: tomato;
}
.latest-work{
    background-image: url(images/footer-bg.png);
}
.client{
    background-image: url(images/latest-work-bg.png);
}
.contact{

}
.footer{
    min-height: 20%;
    max-height: 20%;
    background-color: black;
}
.mgl{
    margin-left: 20%;
}
.mgr{
    margin-right: 20%;
}